server:
  port: 8889

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hibachehb/config-microservices.git
          default-label: main